@tailwind base;

* {
    scrollbar-width: thin;
    scrollbar-color: #DC2D45 #222244;
}

*::-webkit-scrollbar {
    width: 1px;
    height: 0;
}

*::-webkit-scrollbar-track {
    background: hsla(240, 33%, 20%, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #DC2D45;
    border-radius: 5px;
    border: 1px solid #DC2D45;
}

@tailwind components;
@tailwind utilities;

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: #DC2D45;
    transform-origin: 0%;
}

@layer components {


    .h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 120px;
        line-height: 100%;
        /* identical to box height, or 120px */
        text-transform: uppercase;
    }

    .h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 110%;
        /* identical to box height, or 99px */
        text-transform: uppercase;
    }

    .h3 {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        /* or 38px */
        /* Dark */
        color: #171717;
    }

    .h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 120%;
    }

    .h5 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
    }

    .blur-img {
        position: absolute;
        width: 591px;
        height: 591px;
        left: 1562px;
        top: 110px;
        background: radial-gradient(50% 50% at 50% 50%, #FF304D 0%, rgba(255, 48, 77, 0) 100%);
        filter: blur(90px);
    }
}